PORT=3000
APP_BASE_URL=https://tondomaine.com

# Revolut
REVOLUT_API_BASE=https://merchant.revolut.com
REVOLUT_API_VERSION=2025-12-04
REVOLUT_SECRET_API_KEY=sk_live_xxxxxxxxx
REVOLUT_WEBHOOK_SIGNING_SECRET=wsk_xxxxxxxxx

# Paiement
PRICE_EUR_CENTS=500

# Botpress
BOTPRESS_BOT_ID=REPLACE_BOT_ID
BOTPRESS_CLIENT_ID=REPLACE_CLIENT_ID
BOTPRESS_ELEMENT_ID=bp-embedded-webchat
